 
  .card {
    margin:.3em 1rem;
    padding: 1.5rem;
    /* text-align: left; */
    color: inherit;
    text-decoration: none;
    border: 1px solid #eaeaea;
    border-radius: 10px;
    transition: color 0.15s ease, border-color 0.15s ease;
    /* max-width: 300px; */
    background: rgba(225,225,225,0.8);
    transition: all .5s ease;
    box-shadow: 0 2px 2px rgba(0,0,0,0.3);
  }
  
  .card:hover,
  .card:focus,
  .card:active {
    color: #0070f3;
    /* border-color: #9ea1a1; */
    /* color: gray; */
  }
  
  .card h2 {
    margin: 0 0 1rem 0;
    font-size: 1.5rem;
  }
  
  .card p {
    margin: 0;
    font-size: 1.25rem;
    line-height: 1.5;
  }
  
  .logo {
    height: 1em;
    margin-left: 0.5rem;
  }
  